<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="Konekcija" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NL_DB;Integrated Security=True"/>-->
    <!--<add name="Konekcija" connectionString="Server=192.185.11.99;Database=nladmin_NL_DB;User Id=nladm_nladmin;Password=Test12321;"/>-->
    <add name="Konekcija" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NL_DB;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="Enc_Key" value="NEXT$EN$E123!"/>
    <add key="Admin" value="1"/>
    <add key="Edit" value="2"/>
    <add key="Readonly" value="4"/>
    <add key="Advanced" value="5"/>
    <add key="HourZone" value="0"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="FolderPath" value="Upload"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1000000" executionTimeout="20000"/>
    <customErrors mode="Off"/>
    <pages validateRequest="false"/>   
    <!--<sessionState mode="SQLServer" sqlConnectionString="data source=192.185.11.99;user id=nladm_nladmin;password=Test12321" cookieless="false" timeout="1000"/>-->
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Default.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
    <sessionState timeout="1000"></sessionState>


        <machineKey
    validationKey="56AB7132992003EE87F74AE4D9675D65EED8018D3528C0B8874905B51940DEAF6B85F1D922D19AB8F69781B2326A2F978A064708822FD8C54ED74CADF8592E17"
    decryptionKey="A69D80B92A16DFE1698DFE86D4CED630FA56D7C1661C8D05744449889B88E8DC"
    validation="SHA1" decryption="AES" />
    </system.web>
</configuration>